<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="buddy_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import buddy_description urdf file -->
    <xacro:include filename="$(find buddy_description)/urdf/buddy_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="buddy_description.ros2_control.xacro" />


    <xacro:buddy_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
